parameters:
    level: 6
    phpVersion: 70400

    # Dein Modulverzeichnis analysieren
    paths:
        - ./
        - ./libs/

    # Stubs mit IPS-Funktionen
    scanDirectories:
        - ../_ips-stubs/
